[Unit]
Description=AnkaVM KVM VDS Management Engine Daemon
After=network.target libvirtd.service
Requires=libvirtd.service

[Service]
Type=simple
User=ankavm
Group=ankavm
WorkingDirectory=/opt/ankavm
Environment=PATH=/opt/ankavm/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/opt/ankavm/venv/bin/uvicorn backend.main:app --host 0.0.0.0 --port 8086

# Restart parameters
Restart=always
RestartSec=5

# Limit output logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
